h2{
    padding-left:580px ;
    padding-top: 20px;
}

.col-5{
    margin-right: 0px;
    margin-left: 80px;
    padding-top: 100px;
}

button{
    position: relative;
    left: 580px;
    top: 20px;
    width: 70px;
    
}